In [2]:
# Import needed packages
import pandas as pd

In [4]:
# Read in csv 
dc_scooter_df = pd.read_csv('C:\\Users\\Invario\\Documents\\Wagner\\Data_Analysis-Fall_2019\\Final_Assignment\\Data\\dc_scooter_data_ward.csv')
dc_scooter_df.head()

,field_1,bike_id,lat,lon,Company,date_time,OBJECTID,WARD,NAME,REP_NAME,...,PCT_BELO_9,PCT_BELO10,NO_DIPLOMA,DIPLOMA_25,NO_DEGREE_,ASSOC_DEGR,BACH_DEGRE,MED_VAL_OO,Shape_Le_1,Shape_Ar_1
0,17,64f569b1-0808-4a39-ba15-824c433b3afb,38.865441,-76.989758,Bird,2019-11-14T12:15:00+00:00,1.0,8.0,Ward 8,"Trayon White, Sr.",...,36.3,10.8,5958.0,18736.0,10975.0,2149.0,3781.0,229900.0,28714.06943,3.096585e+07
1,71,4cb99f8c-8625-4861-acc5-cfadc0fa408a,38.865060,-76.989933,Bird,2019-11-14T12:15:00+00:00,1.0,8.0,Ward 8,"Trayon White, Sr.",...,36.3,10.8,5958.0,18736.0,10975.0,2149.0,3781.0,229900.0,28714.06943,3.096585e+07
2,107,7a3722c7-455c-496d-b479-970bcc3c1c85,38.865171,-76.989746,Bird,2019-11-14T12:15:00+00:00,1.0,8.0,Ward 8,"Trayon White, Sr.",...,36.3,10.8,5958.0,18736.0,10975.0,2149.0,3781.0,229900.0,28714.06943,3.096585e+07
3,200,3f1248da-6a85-40a8-95f7-68e0fe3b6134,38.865264,-76.989963,Bird,2019-11-14T12:15:00+00:00,1.0,8.0,Ward 8,"Trayon White, Sr.",...,36.3,10.8,5958.0,18736.0,10975.0,2149.0,3781.0,229900.0,28714.06943,3.096585e+07
4,252,82d0046b-d018-4ed7-8dc7-bf6a484820a9,38.865043,-76.989859,Bird,2019-11-14T12:15:00+00:00,1.0,8.0,Ward 8,"Trayon White, Sr.",...,36.3,10.8,5958.0,18736.0,10975.0,2149.0,3781.0,229900.0,28714.06943,3.096585e+07

In [6]:
# Select the necessary columns from each dataframe
dc_scooter_df_slim = dc_scooter_df.loc[:,['bike_id', 'lat', 'lon', 'Company', 'date_time', 'WARD','NAME']]
dc_scooter_df_slim.head()

,bike_id,lat,lon,Company,date_time,WARD,NAME
0,64f569b1-0808-4a39-ba15-824c433b3afb,38.865441,-76.989758,Bird,2019-11-14T12:15:00+00:00,8.0,Ward 8
1,4cb99f8c-8625-4861-acc5-cfadc0fa408a,38.865060,-76.989933,Bird,2019-11-14T12:15:00+00:00,8.0,Ward 8
2,7a3722c7-455c-496d-b479-970bcc3c1c85,38.865171,-76.989746,Bird,2019-11-14T12:15:00+00:00,8.0,Ward 8
3,3f1248da-6a85-40a8-95f7-68e0fe3b6134,38.865264,-76.989963,Bird,2019-11-14T12:15:00+00:00,8.0,Ward 8
4,82d0046b-d018-4ed7-8dc7-bf6a484820a9,38.865043,-76.989859,Bird,2019-11-14T12:15:00+00:00,8.0,Ward 8

In [7]:
#Finally same this dataframe as a csv to move to cloud-based environments for the assignment
dc_scooter_df_slim.to_csv('dc_scooter_data_ward_slim.csv')